html{
    scroll-behavior: smooth;
    overflow: hidden;
}
body{
    background-color: rgba(111, 111, 182, 0.158);
    height: auto;
    width: 100%;
}

/* edite heder and body position */
.header{
  position: fixed;
  display: block;
  top: 0;
  left:0px;
  right:0px;
  width: 100%;
  height: 70px;
  z-index: 999;
}
.body{
  position:absolute;
  top: 70px;
  left:0px;
  right:0px;
  bottom:0px;
}

/* add scroll to container */
.content_body_scroll{
  height: 100%;
  overflow-y: auto;
}




/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #2c3e5077; 
  border-radius: 10px 0 0 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #2c3e508a; 
  border-radius: 9px 0 0 9px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2c3e50e0; 
}




/* end scroll */



/* The side navigation menu */
.sidenav {
  height: 90%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  top: 70px; /* Stay at the top */
  left: 0;
  background-color: #0b2349e0; /* color*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  padding-bottom: 25px;
  
}
.sidenav #infocvside a{
  white-space: nowrap; 
  width: 200px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 4px 8px 20px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  position: relative;
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sideopen{
  
  color: #f0f6fc;
  background-color: #0b2349b9;
  box-shadow: 0 2px 8px #30363d;
  opacity: 1;
  height: 94px;
  line-height: 1;
  position: absolute;
  text-align: center;
  top: 33%;
  width: 30px;
  z-index: 10;
  cursor: pointer;
  border-radius: 0px 4px 4px 0px;
  border-left: none;
  padding: 6px;
  transition: .5s;
}

.sideopen .sideopentext{
  color: #f0f6fc;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  position: relative;
  top: 10px;
  transform: rotate(-180deg);
  writing-mode: tb-rl;
}


.sideclose{
  
  color: #f0f6fc;
  background-color: #0b2349e0;
  box-shadow: 0 2px 8px #30363d;
  opacity: 1;
  height: 94px;
  line-height: 1;
  position: absolute;
  text-align: center;
  top: 33%;
  width: 30px;
  z-index: 5;
  cursor: pointer;
  border-radius: 0px 4px 4px 0px;
  border-left: none;
  padding: 6px;
  transition: .5s;
  visibility: hidden;
}

.sideclose .sideclosetext{
  color: #f0f6fc;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  position: relative;
  top: 10px;
  transform: rotate(-180deg);
  writing-mode: tb-rl;
}

.inf{
  margin-left: 15px;
}





/* home */
.home{
  display: inline-block;
  position: fixed;
  z-index: 9999;
  top: 0px;
}

/* buuton de home */
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #221247;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  opacity: 0.8;
}

.button span {
  text-shadow: 4px 4px 3px rgb(82, 81, 87);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  color: #FFFFFF !important;
  opacity: 1 !important;
  padding-right: 25px;
}

.button:hover {
  opacity: 0.95 !important;
}

.button:hover span:after {
  opacity: 1 !important;
  right: 0;
}

/* make btn en center of page */

.fix{ 
  z-index: 5;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* carousel home */
.carousel_stl{
  background-color: #22124767;
  opacity: 0.5;
}
.crsl{
  position: fixed;
  display: inline-block;
  bottom: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
}

/* images */
.img-p{
  display: inline-block;
  position: relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.img-i{
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: relative;
  max-height: max-content;
  max-width: max-content;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}




@media screen and (max-width: 426px) {
  
  /* buuton de home */
  .button {
    font-size: 18px;
    padding: 8px;
    margin: 3px;
  }
}

@media screen and (min-width: 426px) {
  
  /* buuton de home */
  .button {
    font-size: 25px;
    padding: 16px;
    margin: 4px;
  }

}

@media screen and (min-width: 726px) {
  
  /* buuton de home */
  .button {
    font-size: 30px;
    padding: 20px;
    margin: 5px;
  }

}




/* usrsinfo */

/* //pagination */
@media screen and (max-width: 526px) {
    .pagin{
        font-size: 12px !important;
    }
}
@media screen and (min-width: 526px) {
    .pagin{
        font-size: 30px !important;
    }
}

/* end usrsinfo */








/************ pofiel ***********/
.profile{
  margin-top: -70px !important;
}











/* add classess like bootstrap */
.cursor-pointer {
  cursor: pointer;
}

/* wraping text */
.txt-wrap{
  text-align: justify !important;
  word-wrap: break-word !important;
  text-justify: inter-word;
  height:auto !important;
}

.max-h{
  max-height: 280px;
}

.max-w{
  max-width: 280px;
}

.hight-auto{
  height: auto;
}

.max-h-w{
  max-width: 100%;
  max-height: 100%;
}

.m-auto{
  margin: auto;
}






/* imprimer */
.card-relative{
  position: relative;
}
 
.Printbutton{
  position: absolute;
  display: inline-block;
  right: 0%;
  background-color:#fff;
  color: rgba(91, 97, 114, 0.719);
  cursor:pointer;
  opacity: 0.5;
  padding: 2px;
  font-size: 22px;
  line-height: 25px;
  z-index: 50;
}

.Printbutton:hover{
  background-color: rgb(255, 255, 255);
  opacity: 1;
}
 
 
@media print {
  .prnthide{
    display:none;
  }
}


/* contact */

.contact{
  padding: 4%;
}
.sidecontact{
  background: #27175ed5;
}
.col-md-3{
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  color: #fff;
}
.contact-info{
  margin-top:10%;
}
.contact-info .img{
  margin-bottom: 4%;
  font-size: 100px;
}
.contact-info h2{
  margin-bottom: 4%;
}
.col-md-9{
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.contact-form label{
  font-weight:600;
}
.contact-form button{
  background: #25274d;
  color: #fff;
  font-weight: 600;
  width: 25%;
}
.contact-form button:focus{
  box-shadow:none;
}